.HubTagDetailScreen__items {
  .HubTagDetailScreen__item:last-child {
    margin-bottom: 0;
  }
}

.HubTagDetailScreen__item {
  display: flex;
  flex-direction: column;
  padding: var(--component-spacing-sm) 0;
  margin: var(--component-spacing-sm) 0;
  border-bottom: solid #eee 1px;
}

.HubTagDetailScreen__item__inner {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: var(--component-spacing-sm);
    flex-shrink: 0;
  }
}

.HubTagDetailScreen__item__name {
  display: block;
  flex-shrink: 1 !important;
}

.HubTagDetailScreen__container {
  margin: var(--component-spacing-md) 0;
}